<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TSRT9</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="top-container">
        <div class="textbox-wrapper">
            <textarea id="mainTextBox" readonly></textarea>
        </div>
    </div>
    
    {% if not singleTaxonomy %}
    <div class="button-container">
        <div class="button-row">
                <button id="InstructionsBtn" onclick="showInstructions()">Instructions</button>
                <button id="ClBtn" onclick="showClassificationOptions()">Classification</button>
                <button id="PPSBtn" onclick="showMultiScreenOptions('PPS')">Primary Pathway Subcode</button>
                <button id="APSBtn" onclick="showMultiScreenOptions('APS')">Additional Pathway Subcodes</button>
                <button id="MDBtn" onclick="showMultiScreenOptions('MD')">Method of Detection</button>
                <button id="CFBtn" onclick="showMultiScreenOptions('CF')">Contributory Factors</button>
                <button id="ModalityBtn" onclick="showSingleScreenOptions('Modality')">Modality</button>
                <button id="SupplementalBtn" onclick="showSupplementalOptions()" disabled="true">Supplemental Info</button>
        </div>
    </div>
    {% endif %}

    <!-- Dynamic menus for taxonomy entries -->
    <div class="taxonomy-container">
        <div id="taxonomyMenuSingle" style="display:none"></div>
        <div id="taxonomyMenu" style="display:none">
            <div class="menu-container">
                <div class="left-bar" id="leftContent"></div>
                <div class="right-content" id="rightContent"></div>
            </div>
        </div>
    </div>

    <div class="clear-button-wrapper">
        <button id="ClearBtn" onclick="clearText()">Reset</button>
    </div>    

    <script>
        // Placeholder strings
        const CL_PLACEHOLDER = "Classification";
        const PS_PLACEHOLDER = "Pathway Subcode(s)";
        const MD_PLACEHOLDER = "Method of Detection";
        const CF_PLACEHOLDER = "Contributory Factor(s)";
        const MODALITY_PLACEHOLDER = "Modality";

        // Taxonomy Variables
        let Displayed_Cl = "";
        let Displayed_PPS = "";
        let Displayed_APS = [];
        let Displayed_MD = "";
        let Displayed_CF = [];
        let Displayed_Modality = "";

        // Supplemental information dict
        let SupplementalInfo_Dict = {
            anatomicalSite: "",
            prescribedDose: 0,
            fractionation: 0,
            intendedExposure: 0,
            actualExposure: 0,
            geographicMisplacement: 0,
            CFdescription: {},
            detection: "",
            precedingDetectionPoints: [],
            patientImplications: "",
            correctiveActions: "",
            equipmentRelatedInformation: []
        };

        function UpdateTextbox() {
            const tb = document.getElementById("mainTextBox");

            {% if singleTaxonomy %}
                const taxonomy = "{{ singleTaxonomy }}".toUpperCase();

                if (taxonomy == "CL") {
                    tb.value = Displayed_Cl.length ? Displayed_Cl : CL_PLACEHOLDER;
                } else if (taxonomy == "PPS") {
                    tb.value = Displayed_PPS.length ? Displayed_PPS : "Pathway Subcode";
                } else if (taxonomy == "APS") {
                    tb.value = Displayed_APS.length ? Displayed_APS.join(" / ") : PS_PLACEHOLDER;
                } else if (taxonomy == "MD") {
                    tb.value = Displayed_MD.length ? Displayed_MD : MD_PLACEHOLDER;
                } else if (taxonomy == "CF") {
                    tb.value = Displayed_CF.length ? Displayed_CF.join(" / ") : CF_PLACEHOLDER;
                } else if (taxonomy == "MODALITY") {
                    tb.value = Displayed_Modality.length ? Displayed_Modality : MODALITY_PLACEHOLDER;
                } else if (taxonomy == "SUPPLEMENTALINFO") {
                    let finalText = "TSRT9";

                    let Cl = Displayed_Cl.length ? Displayed_Cl : CL_PLACEHOLDER;
                    let PPS = Displayed_PPS.length ? Displayed_PPS : PS_PLACEHOLDER;
                    let APS = Displayed_APS.length ? Displayed_APS.join(" / ") : "";
                    let MD = Displayed_MD.length ? Displayed_MD : MD_PLACEHOLDER;
                    let CF = Displayed_CF.length ? Displayed_CF.join(" / ") : CF_PLACEHOLDER;
                    let Modality = Displayed_Modality.length ? Displayed_Modality : MODALITY_PLACEHOLDER;

                    if (APS.length == 0) {
                        tb.value = ["TSRT9"].concat([Cl], [PPS], [MD], [CF], [Modality]).join(" / ");
                    } else {
                        tb.value = ["TSRT9"].concat([Cl], [PPS], [APS], [MD], [CF], [Modality]).join(" / ");
                    }
                }
            {% else %}
                let finalText = "TSRT9";

                let Cl = Displayed_Cl.length ? Displayed_Cl : CL_PLACEHOLDER;
                let PPS = Displayed_PPS.length ? Displayed_PPS : PS_PLACEHOLDER;
                let APS = Displayed_APS.length ? Displayed_APS.join(" / ") : "";
                let MD = Displayed_MD.length ? Displayed_MD : MD_PLACEHOLDER;
                let CF = Displayed_CF.length ? Displayed_CF.join(" / ") : CF_PLACEHOLDER;
                let Modality = Displayed_Modality.length ? Displayed_Modality : MODALITY_PLACEHOLDER;

                if (APS.length == 0) {
                    tb.value = ["TSRT9"].concat([Cl], [PPS], [MD], [CF], [Modality]).join(" / ");
                } else {
                    tb.value = ["TSRT9"].concat([Cl], [PPS], [APS], [MD], [CF], [Modality]).join(" / ");
                }
            {% endif %}
        }
        
        function showInstructions() {
            document.getElementById("taxonomyMenu").style.display = 'none';
            const menu = document.getElementById("taxonomyMenuSingle");
            menu.innerHTML = `<h3 style="margin-top: 0">Instructions:</h3>
            <p>1. Start by clicking the "Classification" button to select the appropriate severity level (maximum of one)<br>
                2. Continue to "Primary Pathway Subcode" section and select the primary section of the pathway in which this occured (maximum of one)<br>
                3. If more subcodes apply, please select "Additional Pathway Subcodes" and select all that apply<br>
                4. Proceed to the "Method of Detection" section and select the area of the pathway that resulted in the detection of the incident (maximum of one)<br>
                5. Next, proceed to the "Contributory Factors" section and select all the factors that apply<br>
                6. Proceed to the "Modality" section to select the modailty in which this incident occured (maximum of one)<br>
                7. Once all coding sections are complete, the assembled incident code will appear in the box above<br>
                8. If a comprehensive summary of the incident is needed, go to the "Supplemental Info" section and complete all sections</p>`;
            menu.style.display = 'block';
            if ("{{ singleTaxonomy|default('') }}".trim() === "") {
                toggleMenuButtons("InstructionsBtn");
            };
        }

        function displayInstructions(instructions){
            const menu = document.getElementById("rightContent");
            menu.innerHTML = instructions;
        }

        function singleTaxonomyInstructions(instructions){
            {% if singleTaxonomy %}
                const menu = document.getElementById("leftContent");
                const wrapper = document.createElement("div");
                wrapper.className = "taxonomy-entry";

                const button = document.createElement("button");
                button.textContent = "Instructions";
                button.classList.add("toggle-button");
                button.id = "instructionsBtn";
                button.onclick = () => {
                    displayInstructions(instructions);
                    toggleButtons(button.id, "leftContent");
                }

                wrapper.appendChild(button);
                menu.appendChild(wrapper);

                button.click();
            {% endif %}
        }

        function showSingleScreenOptions(taxonomy) {
            document.getElementById("taxonomyMenu").style.display = 'none';
            const menu = document.getElementById("taxonomyMenuSingle");
            menu.innerHTML = 'Loading options';
            menu.style.display = 'block';
            if ("{{ singleTaxonomy|default('') }}".trim() === "") {
                toggleMenuButtons(taxonomy + "Btn");
            };

            let api = "";
            if (taxonomy == "Modality"){
                api = "modality"
            }

            fetch(`/api/${api}`)
                .then(res => res.json())
                .then(data => {
                    menu.innerHTML = '';

                    // Placing instructions if this is loaded in single taxonomy
                    {% if singleTaxonomy %}
                        const wrapper = document.createElement("div");
                        wrapper.className = "taxonomy-entry";

                        const label = document.createElement("label");
                        label.textContent = `Please select the appropriate ${api} (maximum of one):`;
                        wrapper.appendChild(label);
                        menu.appendChild(wrapper);
                    {% endif %}

                    Object.entries(data).forEach(([code, description]) => {
                        const wrapper = document.createElement("div");
                        wrapper.className = "taxonomy-entry";

                        const button = document.createElement("button");
                        button.textContent = code;
                        button.id = "btn" + code.split(" ").join("");
                        button.classList.add("toggle-button");
                        button.onclick = () => {
                            if (otherChecker(description, taxonomy)){
                                insertRemoveCode(code, taxonomy);
                                toggleButtons(button.id, "taxonomyMenuSingle");
                            }
                        }

                        const desc = document.createElement("div");
                        desc.className = "description";
                        desc.innerHTML = `<strong>${description}</strong>`;

                        wrapper.appendChild(button);
                        wrapper.appendChild(desc);
                        menu.appendChild(wrapper);

                        let codeValue = code;
                        if (api == "modality"){
                            codeValue = " " + code;
                        }

                        if (document.getElementById("mainTextBox").value.includes(codeValue)){
                            toggleButtons(button.id, "taxonomyMenuSingle")
                        }
                    });

                    if (api == "classification"){
                        const helpDiv = document.createElement("div");
                        const helpButton = document.createElement("button");

                        helpDiv.className = "description"
                        helpDiv.innerHTML = `Please press this for guidance on selecting the appropriate classification: `;

                        helpButton.textContent = "Guidance";
                        helpButton.id = "classificationGuidanceButton";
                        helpButton.classList.add("toggle-button");
                        helpButton.onclick = () => {window.open('/classificationGuidance', '_blank');}

                        const wrapper = document.createElement("div");
                        wrapper.className = "taxonomy-entry";

                        wrapper.appendChild(helpDiv);
                        wrapper.appendChild(helpButton);
                        menu.appendChild(wrapper);
                    }
                })
                .catch(err => {
                    menu.innerHTML = `<p style="color:red;">Failed to load ${api}.</p>`;
                    console.error(err);
                });
        }

        let supplementalListenerAdded = false;

        function showSupplementalOptions() {
            document.getElementById("taxonomyMenu").style.display = 'none';
            const menu = document.getElementById("taxonomyMenuSingle");
            menu.innerHTML = 'Loading Supplemental Information';
            menu.style.display = 'block';
            if ("{{ singleTaxonomy|default('') }}".trim() === "") {
                toggleMenuButtons("SupplementalBtn");
            };

            SupplementalInfo_Dict.equipmentRelatedInformation = SupplementalInfo_Dict.equipmentRelatedInformation.filter(
                item => !(item[0] === "" && item[1] === "" && item[2] === "")
                );

            let fetchString = "";

            if (Displayed_CF.length == 0 && Displayed_MD.length == 0) {
                fetchString = `/api/supplementalinfo/${Object.keys(SupplementalInfo_Dict.equipmentRelatedInformation).length + 1}`
            } else if (Displayed_MD.length == 0) {
                fetchString = `/api/supplementalinfo/` + Displayed_CF.join("/") + `/${Object.keys(SupplementalInfo_Dict.equipmentRelatedInformation).length + 1}`
            } else if (Displayed_CF.length == 0) {
                fetchString = `/api/supplementalinfo/${Displayed_MD}/${Object.keys(SupplementalInfo_Dict.equipmentRelatedInformation).length + 1}`
            } else {
                fetchString = `/api/supplementalinfo/` + Displayed_CF.join("/") + `/${Displayed_MD}/${Object.keys(SupplementalInfo_Dict.equipmentRelatedInformation).length + 1}`
            }

            // Loading data for anatomical sites and then loading all other information
            fetch(fetchString)
            .then(response => response.text())
            .then(html => {
                menu.innerHTML = html;

                // Re-execute any <script> tags
                Array.from(menu.querySelectorAll("script")).forEach(oldScript => {
                    const newScript = document.createElement("script");
                    if (oldScript.src) {
                        newScript.src = oldScript.src;
                    } else {
                        newScript.textContent = oldScript.textContent;
                    }
                    oldScript.replaceWith(newScript);
                });

                return new Promise(resolve => setTimeout(resolve, 0));  // wait for DOM update
            })
            .then(() => {
                const event = new CustomEvent("widgetContentLoaded", {
                    detail: { section: "supplementalinfo" }
                });

                const target = document.getElementById("SupplementInfoWindow");
                if (target) {
                    target.dispatchEvent(event);
                } else {
                    console.error("SupplementInfoWindow not found after fetch");
                }
            })
            .then(() => {
                if (!supplementalListenerAdded) {
                    supplementalListenerAdded = true;

                    window.addEventListener("message", function(event) {
                        if (event.data && event.data.action === "taxonomyUpdated") {
                        const iframe = document.getElementById("precedingDetectionPoints");
                        // Send a message to the widget requesting its value
                        iframe.contentWindow.postMessage({ action: "getCode" }, "*");
                        } else if (event.data && event.data.action === "sendCode") {
                        if (event.data.value.includes("Error")) {
                            SupplementalInfo_Dict.precedingDetectionPoints = [];
                        } else {
                            SupplementalInfo_Dict.precedingDetectionPoints = event.data.value.split(" / ");
                        }
                        }
                    });
                }
            })
            .catch(error => {
                menu.innerHTML = "Failed to load supplemental information fields.";
                console.error(error);
            });
        }

        function showClassificationOptions() {
            document.getElementById("taxonomyMenu").style.display = 'none';
            const menu = document.getElementById("taxonomyMenuSingle");
            menu.innerHTML = 'Loading Classifications';
            menu.style.display = 'block';
            if ("{{ singleTaxonomy|default('') }}".trim() === "") {
                toggleMenuButtons("ClBtn");
            };

            let fetchString = "/classificationGuidance";

            // Loading data for anatomical sites and then loading all other information
            fetch(fetchString)
            .then(response => response.text())
            .then(html => {
                menu.innerHTML = html;

                // Re-execute any <script> tags
                Array.from(menu.querySelectorAll("script")).forEach(oldScript => {
                    const newScript = document.createElement("script");
                    if (oldScript.src) {
                        newScript.src = oldScript.src;
                    } else {
                        newScript.textContent = oldScript.textContent;
                    }
                    oldScript.replaceWith(newScript);
                });

                return new Promise(resolve => setTimeout(resolve, 0));  // wait for DOM update
            })
            .then(() => {
                const event = new CustomEvent("classificationContentLoaded", {
                    detail: { section: "classification" }
                });

                const target = document.getElementById("ClassificationSelectionWindow");
                if (target) {
                    target.dispatchEvent(event);
                } else {
                    console.error("ClassificationSelectionWindow not found after fetch");
                }
            })
            .catch(error => {
                menu.innerHTML = "Failed to load classiification fields.";
                console.error(error);
            });
        }

        function copyToClipboard(){
            const tbString = document.getElementById("mainTextBox").value;
            navigator.clipboard.writeText(tbString);
        }

        function toggleButtons(btnID, parentID) {
            const btnOfInterest = document.getElementById(btnID);
            const parent = document.getElementById(parentID);

            const buttons = parent.querySelectorAll(".toggle-button");

            buttons.forEach(button => {
                button.classList.remove("selected-button");
            });

            if (btnOfInterest){
                btnOfInterest.classList.add("selected-button");
            }
        }

        function insertRemoveCode(code, taxonomy, addBool = true, description = "") {
            const tb = document.getElementById("mainTextBox");
            let tbList = tb.value.split(" / ");

            if (taxonomy == "Cl") {
                Displayed_Cl = code;
            } else if (taxonomy == "PPS") {
                Displayed_PPS = code;

                if (Displayed_APS.includes(Displayed_PPS)) {
                    const index = Displayed_APS.indexOf(code);

                    if (index != -1) {
                        Displayed_APS.splice(index, 1);
                    }
                }
            } else if (taxonomy == "APS") {
                if (addBool) {
                    Displayed_APS = sortCodes([...new Set(Displayed_APS.concat(code))]);
                } else {
                    const index = Displayed_APS.indexOf(code);

                    if (index != -1) {
                        Displayed_APS.splice(index, 1);
                    }
                }
            } else if (taxonomy == "MD") {
                Displayed_MD = code;
            } else if (taxonomy == "CF") {
                if (addBool) {
                    Displayed_CF = sortCodes([...new Set(Displayed_CF.concat(code))]);

                    SupplementalInfo_Dict.CFdescription[code] = "";

                    {% if not singleTaxonomy %}
                        document.getElementById("SupplementalBtn").classList.remove("menu-button-complete");
                    {% endif %}
                } else {
                    const index = Displayed_CF.indexOf(code);

                    if (SupplementalInfo_Dict.CFdescription[code]){
                        delete SupplementalInfo_Dict.CFdescription[code];
                    }

                    if (index != -1) {
                        Displayed_CF.splice(index, 1);
                    }
                }
            } else if (taxonomy == "Modality") {
                Displayed_Modality = code;
            }

            UpdateTextbox();
            updateMenuButtonStatus();

            // Inform the parent window the taxonomies have been updated
            window.parent.postMessage({ action: "taxonomyUpdated" }, "*");
        }

        function showMultiScreenOptions(taxonomy) {
            document.getElementById("taxonomyMenuSingle").style.display = 'none';
            document.getElementById("leftContent").innerHTML = '';
            document.getElementById("rightContent").innerHTML = '';
            const menu = document.getElementById("leftContent");

            let api = "";
            let displayPlaceholder = "";
            let instructions = "";

            if (taxonomy == "PPS"){
                api = "pathwaysubcodes"
                displayPlaceholder = "Pathway Subcodes"
                instructions = `Please carefully look through each catagory and the primary area in the patient pathway in which this incident occured. Only one subcode is able to be selected. Refer to the official definitions if you need assistance.<br><br>Press the reset button at the bottom to reset the subcode selected.`
            } else if (taxonomy == "APS"){
                api = "pathwaysubcodes"
                displayPlaceholder = "Pathway Subcodes"
                instructions = `Please carefully look through each catagory and select one or more pathway subcodes that best describe the process or pathway involved. You're welcome to choose multiple subcodes if they clearly apply. Refer to the official definitions if you need assistance.<br><br>Press the reset button at the bottom to reset the codes selected.`
            } else if (taxonomy == "MD"){
                api = "pathwaysubcodes"
                displayPlaceholder = "Pathway Subcodes"
                instructions = `Please carefully look through each catagory and the primary area in the patient pathway that detected this incident. Only one subcode is able to be selected. Refer to the official definitions if you need assistance.<br><br>Press the reset button at the bottom to reset the codes selected.`
            } else if (taxonomy == "CF"){
                api = "contributoryfactors"
                displayPlaceholder = "Contributory Factors"
                instructions = `Please carefully look through each catagory and select one or more contributory factors that best represent what lead to the incident. You're welcome to choose multiple factors if they clearly apply. Refer to the official definitions if you need assistance.<br><br>Press the reset button at the bottom to reset the codes selected.`
            }

            menu.innerHTML = `Loading ${api} Categories`;
            document.getElementById("taxonomyMenu").style.display = 'flex';
            toggleMenuButtons(taxonomy + "Btn");

            fetch(`/api/${api}`)
                .then(res => res.json())
                .then(data => {
                    menu.innerHTML = '';

                    // Placing instructions if this is loaded in single taxonomy
                    singleTaxonomyInstructions(instructions);

                    Object.entries(data).forEach((category) => {
                        const wrapper = document.createElement("div");
                        wrapper.className = "taxonomy-entry";

                        const button = document.createElement("button");
                        button.textContent = category[1];
                        button.classList.add("toggle-button");
                        button.id = "btn" + category[1].split(":")[0];
                        button.onclick = () => {
                            displayCategory(category[1], taxonomy);
                            toggleButtons(button.id, "leftContent");
                        }

                        wrapper.appendChild(button);
                        menu.appendChild(wrapper);
                    });
                })
                .catch(err => {
                    menu.innerHTML = `<p style="color:red;">Failed to load ${displayPlaceholder.toLowerCase()}.</p>`;
                    console.error(err);
                });
        }

        function otherChecker(description, taxonomy = "") {
            if (taxonomy == "Cl") {
                return true;
            }

            if (description.split(" ")[0].toLowerCase().trim() == "other") {
                otherCheck = confirm("You have selected a code corresponding to 'Other', would you like to select a more specific code?");

                if (otherCheck) {
                    return false;
                }
            }
            return true
        }

        function displayCategory(category, taxonomy){
            let api = "";
            let single = false;
            let displayPlaceholder = "";

            if (taxonomy == "PPS"){
                api = "pathwaysubcodes"
                single = true;
                displayPlaceholder = "Pathway Subcodes"
            } else if (taxonomy == "APS"){
                api = "pathwaysubcodes"
                displayPlaceholder = "Pathway Subcodes"
            } else if (taxonomy == "MD"){
                api = "pathwaysubcodes"
                single = true;
                displayPlaceholder = "Pathway Subcodes"
            } else if (taxonomy == "CF"){
                api = "contributoryfactors"
                displayPlaceholder = "Contributory Factors"
            }

            const menu = document.getElementById("rightContent");
            menu.innerHTML = `Loading ${displayPlaceholder}`;

            fetch(`/api/${api}/${category}`)
                .then(res => res.json())
                .then(data => {
                    menu.innerHTML = '';
                    sortCodes(Object.keys(data)).forEach(code => {
                        const detailList = data[code];
                        const label = detailList;

                        const wrapper = document.createElement("div");
                        wrapper.className = "taxonomy-entry";

                        if (single){
                            const detailList = data[code];
                            const label = detailList;

                            const wrapper = document.createElement("div");
                            wrapper.className = "taxonomy-entry";

                            const button = document.createElement("button");
                            button.textContent = code
                            button.classList.add("toggle-button");
                            button.id = "btn" + code;
                            button.onclick = () => {
                                if (otherChecker(label)){
                                    insertRemoveCode(taxonomy == "MD" ? "MD" + code : code, taxonomy);
                                    toggleButtons(button.id, "rightContent");
                                }
                            }

                            const buttonLabel = document.createElement("label");
                            buttonLabel.innerHTML = label;

                            wrapper.appendChild(button);
                            wrapper.appendChild(buttonLabel);
                            menu.appendChild(wrapper);

                            if (document.getElementById("mainTextBox").value.includes(taxonomy == "MD" ? "MD" + code : code) && taxonomy != "PPS"){
                                toggleButtons(button.id, "rightContent")
                            } else if (taxonomy == "PPS" && document.getElementById("mainTextBox").value.split(" / ")[2] == code){
                                toggleButtons(button.id, "rightContent")
                            }
                        } else{
                            const checkbox = document.createElement("input");
                            checkbox.type = "checkbox";
                            checkbox.value = label;
                            checkbox.id = `cb-${code}`;
                            checkbox.checked = document.getElementById("mainTextBox").value.split(" / ").splice(4).includes(code);

                            {% if not singleTaxonomy %}
                                checkbox.disabled = document.getElementById("mainTextBox").value.split("/")[2].trim() == code
                            {% endif %}

                            if ("{{ singleTaxonomy|default('') }}".trim() != ""){
                                checkbox.checked = document.getElementById("mainTextBox").value.includes(code);
                            }
                            checkbox.onchange = () => {
                                if (otherChecker(label)) {
                                    insertRemoveCode(code, taxonomy, checkbox.checked)
                                } else {
                                    checkbox.checked = false;
                                }
                            };

                            const checkboxLabel = document.createElement("label");
                            checkboxLabel.htmlFor = checkbox.id;
                            checkboxLabel.innerHTML = `${code}: ${label}`;

                            wrapper.appendChild(checkbox);
                            wrapper.appendChild(checkboxLabel);
                            menu.appendChild(wrapper);
                        }
                    });
                })
                .catch(err => {
                    menu.innerHTML = '<p style="color:red;">Failed to load pathway subcodes.</p>';
                    console.error(err);
                }
            );
        }

        function isNumeric(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

        function toggleMenuButtons(activeBtnID) {
            const buttons = document.querySelectorAll(".button-row button");

            buttons.forEach(btn => {
                btn.classList.remove("selected-button");
            });

            const activeBtn = document.getElementById(activeBtnID);
            if (activeBtn) {
                activeBtn.classList.add("selected-button");
            }
        }

        function sortCodes(codes){
            if (codes.length == 0){
                return [];
            }

            const example = codes[0];

            let prefix = "";
            for (i = 0; i < example.length; i++){
                if(isNumeric(example[i])){
                    prefix = example.slice(0, i);
                    break;
                }
            }

            let splitCodes = [];

            for (j = 0; j < codes.length; j++){
                let index = -1;

                for (k = prefix.length; k < codes[j].length; k++){
                    if(!isNumeric(codes[j][k])){
                        index = k;
                        break;
                    }
                }

                splitCodes.push([prefix, codes[j].slice(prefix.length, index), codes[j].slice(index)]);
            }

            splitCodes.sort((a, b) => {
                const numA = parseInt(a[1], 10);
                const numB = parseInt(b[1], 10);
                if (numA !== numB) return numA - numB;
                if (a[2].length !== b[2].length) return a[2].length - b[2].length;
                return a[2].localeCompare(b[2]);
            });

            return splitCodes.map(parts => prefix + parts[1] + parts[2]);
        }

        function updateMenuButtonStatus() {
            {% if not singleTaxonomy %}
                const tbString = document.getElementById("mainTextBox").value;

                const sections = {
                    Cl: [CL_PLACEHOLDER, "ClBtn"],
                    PPS: [PS_PLACEHOLDER, "PPSBtn"],
                    APS: [PS_PLACEHOLDER, "APSBtn"],
                    MD: [MD_PLACEHOLDER, "MDBtn"],
                    CF: [CF_PLACEHOLDER, "CFBtn"],
                    Modality: [MODALITY_PLACEHOLDER, "ModalityBtn"]
                };

                if (tbString.split(" / ").includes(PS_PLACEHOLDER)){
                    document.getElementById("APSBtn").disabled = true;
                } else{
                    document.getElementById("APSBtn").disabled = false;
                }

                Object.entries(sections).forEach(([taxonomy, [placeholder, btnID]]) => {
                    const btn = document.getElementById(btnID);
                    // Only try to update the button if it actually exists
                    if (!btn) return;

                    if (!tbString.includes(placeholder)) {
                        btn.classList.add("menu-button-complete");
                    } else {
                        btn.classList.remove("menu-button-complete");
                    }
                });

                const InstructionsBtn = document.getElementById("InstructionsBtn");
                InstructionsBtn.classList.add("menu-button-complete");
            {% endif %}
        }

        function buttonIsActive(tax){
            const btn = document.getElementById(tax + "Btn");
            return btn ? btn.classList.contains("selected-button") : false;
        }

        function clearText() {
            let taxonomy = "{{ singleTaxonomy|default('') }}".toUpperCase();
            document.getElementById("rightContent").innerHTML = "";
            toggleButtons("", "leftContent");
            toggleButtons("", "taxonomyMenuSingle");
            
            Displayed_Cl = sortCodes({{ ClTaxonomy|default("")|tojson }});
            Displayed_PPS = sortCodes({{ PPSTaxonomy|default("")|tojson }});
            Displayed_APS = sortCodes({{ APSTaxonomy|default([])|tojson }});
            Displayed_MD = sortCodes({{ MDTaxonomy|default("")|tojson }});
            Displayed_CF = sortCodes({{ CFTaxonomy|default([])|tojson }});
            Displayed_Modality = sortCodes({{ modalityTaxonomy|default("")|tojson }});

            SupplementalInfo_Dict = {
                anatomicalSite: "",
                prescribedDose: 0,
                fractionation: 0,
                intendedExposure: 0,
                actualExposure: 0,
                geographicMisplacement: 0,
                CFdescription: {},
                detection: "",
                precedingDetectionPoints: [],
                patientImplications: "",
                correctiveActions: "",
                equipmentRelatedInformation: []
            };

            try {
                if (taxonomy == "SUPPLEMENTALINFO" || buttonIsActive("Supplemental")) {
                    showSupplementalOptions();
                } else if (taxonomy == "CL" || buttonIsActive("Cl")) {
                    showClassificationOptions();
                }
            } catch (e) {
                console.log("Error clearing text")
            }

            Displayed_CF.forEach(cf => {
                SupplementalInfo_Dict.CFdescription[cf] = "";
            });
            
            UpdateTextbox();
            updateMenuButtonStatus();
        }

        window.addEventListener("message", function(event) {
            if (event.data && event.data.action === "unlock") {
                document.getElementById("SupplementalBtn").disabled = false;
            }

            if (event.data && event.data.action === "getCodeUnchecked") {
                const value = document.getElementById("mainTextBox").value;
                window.parent.postMessage({ action: "sendCodeUnchecked", value: value }, "*");
            } else if (event.data && event.data.action === "getCode") {
                let pass = true;
                const tbList = document.getElementById("mainTextBox").value.split(" / ");

                const placeholders = [CL_PLACEHOLDER, PS_PLACEHOLDER, MD_PLACEHOLDER, CF_PLACEHOLDER, MODALITY_PLACEHOLDER, "Pathway Subcode"];

                for (let i = 0; i < placeholders.length; i++) {
                    if (tbList.includes(placeholders[i])) {
                        pass = false;
                        break;
                    }
                }

                if (pass) {
                    window.parent.postMessage({ action: "sendCode", value: tbList.join(" / ") }, "*");
                } else {
                    window.parent.postMessage({ action: "sendCode", value: "Error: Missing required fields." }, "*");
                }
            } else if (event.data && event.data.action === "getInfo") {
                let pass = true;
                /*
                for (let key in SupplementalInfo_Dict) {
                    var value = SupplementalInfo_Dict[key];
                    
                    if (key === "anatomicalSite" && value === "") {
                        pass = false;
                        break;
                    } else if (key === "prescribedDose" && !isNumeric(value)) {
                        pass = false;
                        break;
                    } else if (key === "fractionation" && !isNumeric(value)) {
                        pass = false;
                        break;
                    } else if (key === "intendedExposure" && !isNumeric(value)) {
                        pass = false;
                        break;
                    } else if (key === "actualExposure" && !isNumeric(value)) {
                        pass = false;
                        break;
                    } else if (key === "geographicMisplacement" && !isNumeric(value)) {
                        pass = false;
                        break;
                    } else if (key === "CFdescription" && Object.keys(value).length === 0) {
                        pass = false;
                        break;
                    } else if (key === "detection" && value === "") {
                        pass = false;
                        break;
                    } else if (key === "precedingDetectionPoints" && value.length === 0) {
                        pass = false;
                        break;
                    } else if (key === "patientImplications" && value === "") {
                        pass = false;
                        break;
                    } else if (key === "correctiveActions" && value === "") {
                        pass = false;
                        break;
                    } else if (key === "equipmentRelatedInformation" && Object.keys(value).length === 0) {
                        pass = false;
                        break;
                    }
                    
                }
                */
                if (pass) {

                    let infotext = "Supplemental Information:\n";
                    infotext += `Anatomical Site: ${SupplementalInfo_Dict.anatomicalSite}\n`;
                    infotext += `Prescribed Dose: ${SupplementalInfo_Dict.prescribedDose}Gy\n`;
                    infotext += `Fractionation: ${SupplementalInfo_Dict.fractionation}#\n`;
                    infotext += `Intended Exposure: ${SupplementalInfo_Dict.intendedExposure}Gy\n`;
                    infotext += `Actual Exposure: ${SupplementalInfo_Dict.actualExposure}Gy\n`;
                    infotext += `Geographic Misplacement: ${SupplementalInfo_Dict.geographicMisplacement}mm\n`;
                    if (SupplementalInfo_Dict.CFdescription.length > 0) {
                        infotext += `\nContributory Factors:\n`;
                    }
                    for (const [key, value] of Object.entries(SupplementalInfo_Dict.CFdescription)) {
                        infotext += `\t${key}: ${value}\n`;
                    }
                    infotext += `\nDetection: ${SupplementalInfo_Dict.detection}\n`;
                    infotext += `\nPreceding Detection Points: ${SupplementalInfo_Dict.precedingDetectionPoints.join(", ")}\n`;
                    infotext += `\nPatient Implications: ${SupplementalInfo_Dict.patientImplications}\n`;
                    infotext += `\nCorrective Actions: ${SupplementalInfo_Dict.correctiveActions}\n`;
                    if (SupplementalInfo_Dict.equipmentRelatedInformation.length > 0) {
                        infotext += `\nEquipment Related Information:\n`;
                    }

                    let temDict = SupplementalInfo_Dict.equipmentRelatedInformation.filter(
                        item => !(item[0] === "" && item[1] === "" && item[2] === "")
                        );

                    temDict.forEach(([serialNo, type, malfunction], index) => {
                        infotext += `\t${serialNo} - ${type}: ${malfunction}\n`;
                    });

                    window.parent.postMessage({ action: "sendInfo", value: infotext }, "*");
                } else {
                    window.parent.postMessage({ action: "sendInfo", value: "Error: Missing required fields." }, "*");
                }
            }
        });

        window.addEventListener("DOMContentLoaded", function() {
            // Directly call clearText to set the correct taxonomies
            clearText();
            toggleMenuButtons("");
            updateMenuButtonStatus();

            var singleTax = "{{ singleTaxonomy|default('') }}".toUpperCase();
            if (singleTax) {
                if (singleTax == "CL") {
                    showClassificationOptions();
                } else if (singleTax == "MODALITY") {
                    showSingleScreenOptions(singleTax.charAt(0).toUpperCase() + singleTax.slice(1).toLowerCase());
                } else if (["PPS", "APS", "MD", "CF"].includes(singleTax)){
                    showMultiScreenOptions(singleTax);
                } else if (singleTax == "SUPPLEMENTALINFO") {
                    showSupplementalOptions();
                }
            }
            else {
                showInstructions();
                const InstructionsBtn = document.getElementById("InstructionsBtn");
                InstructionsBtn.classList.remove("menu-button-complete");
            }
        });
    </script>
</body>
</html>
